#board {
    display: grid;
    grid-template-columns: repeat(20, 20px);
    grid-template-rows: repeat(20, 20px);
    width: 400px;
    height: 400px;
    background-color: blue;
}

#board .tile {
    width: 20px;
    height: 20px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
}

#board .grass-tile {
    background-color: rgb(0, 255, 21);
}

#board .dirt-tile {
    background-color: rgb(46, 32, 7);
}

#board .prey-tile {
    background-color: rgb(255, 0, 191);
}

#board .predator-tile {
    background-color: rgb(0, 225, 255);
}